/*********************************************

We're trying to just fill the window so that's
it buddy.

**********************************************/

* {
  overflow: hidden;
  user-select: none;
}

main {
  overflow: hidden;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}